
/* ボディ */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* セクション */
section {
  background-color: white;
}

.hero {
  background-color: #3d3d3b;
  height: 100vh;
  color: #ebedec;
  font-size: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #4c5870;
  color: #a2a9af;
  padding: 80px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

h4 {
  height: 32px;
  width: 240px;
  background-color: #ebedec;
  color: #3d3d3b;
  text-align: center;
  padding-top: 5px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  color: #3d3d3b;
}

.description {
  font-size: 20px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.subtext-project {
  font-size: 15px;
  font-weight: 300;
  color: #ebedec;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.name-jp {
  color: #ebedec;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #4c5870;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 20px;
  margin-top: 20px;
}

.button:hover {
  background-color: #576581;
}

.button:active {
  background-color: A9A9A9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 5px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  color :#3d3d3b;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  background-color: #a2a9af;
  color: #ebedec;
}

.headshot {
  width: 200px;
  border-radius: 100px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.information {
  text-align: left;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width :1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-card{
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px #ebedec;
  margin: 10px;
}

.project-image {
  margin-top: 25px;
  width: 250px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.project-link {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: #3d3d3b;
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  padding: 15px;
  margin-top: 20px;
  text-decoration: none;
  color: #ebedec;
}

.project-link:hover {
  background-color: #4d4d4a;
}

a {
  text-decoration: none;
  color: #ebedec;
}

.footer-text {
  width: 240px;
  font-size: 20px;
  color: #a2a9af;
  text-align: center;
}

.footer-description {
  margin-top: 20px;
  font-size: 18px;
  color: #ebedec;
}

.copyright-text {
  font-size: 15px;
  color: #a2a9af;
  position: absolute;
  left: 45%;
  margin-top: 20px;
}